<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>기본 테이블</h1>
<th:block th:each="user : ${users}">
    <div>
        사용자 이름 <span th:text="${user.name}"></span>
        나이 <span th:text="${user.age}"></span>
    </div>
    <div>
        요약 <span th:text="${user.name} + ' / ' + ${user.age}"></span>
    </div>
</th:block>
</body>
</html>